.task_style
{
  background-color: brown;
  color: white;
  margin:20px 20px 20px 20px;
  padding: 10px;
}
.form-control
{
  margin: 10px;
  padding: 10px;
}
.taskttitle
{
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.tasktdescription
{
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.form-control textarea
{
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.form button{

  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}